*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

img{
  width: 100%;
  height: auto;
}
.hom{
  display: flex;
  justify-content: center;
  text-align: center;
}
.home{
  color: white;
  position: absolute;
font-size: 3rem;
font-weight: bold;
text-transform: uppercase;
}
.double{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
margin-top:5%;
}
.parabox{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  width: 45%;
  height: auto;
  margin-left: 2.5%;
}
.imgs{
  width: 45%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.lists{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.card{
  margin: 20px;
}
footer{
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
}